@model TTV48Schmalkalden.Models.ContactViewModel

@{
    ViewData["Title"] = "Kontakt";
    ViewData["Description"] = "Kontaktieren Sie uns. Hier lernen Sie sowohl unsere Kontaktpersonen als auch unsere Lage kennen.";
}

<main>
    <section id="map" class="height-sm">
        <iframe id="osm" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=10.465600848328906%2C50.72084674059581%2C10.472499489915212%2C50.722945550852366&amp;layer=mapnik&amp;marker=50.721896157474646%2C10.469050169122056" style="border: 1px solid black"></iframe><br /><small><a href="https://www.openstreetmap.org/?mlat=50.72190&amp;mlon=10.46905#map=18/50.72190/10.46905">Größere Karte anzeigen</a></small>
    </section>

    <section id="" class="light-bg">
        <div class="container inner-top-sm">

            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto text-center">
                    <header>
                        <h1>Kontakte</h1>
                        <p></p>
                    </header>
                </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row inner-top-sm text-center">

                <div class="col-md-4 inner-bottom-sm inner-left inner-right onecontact">
                    <figure class="member">

                        <div class="">
                            <a><img src="~/assets/images/placeholder-100px.svg" class="rounded-circle"></a>
                        </div><!-- /.icon-overlay -->

                        <figcaption>

                            <h2>
                                Dr. Olaf Janda
                                <span>1. Vorstandsvorsitzender</span>
                            </h2>
                            <ul class="contacts">
                                <li><i class="icon-location contact"></i> Neumarkt 1, 98574 Schmalkalden, Deutschland</li>
                                <li><i class="icon-mobile contact"></i> +49 160 939 060 33</li>
                                <li><i class="icon-phone contact"></i> 03683 607815</li>
                                <li><a href="mailto:olaf@cassiani.de"><i class="icon-mail-1 contact"></i> olaf@cassiani.de</a></li>
                            </ul><!-- /.contacts -->

                        </figcaption>

                    </figure>
                </div><!-- /.col -->

                <div class="col-md-4 inner-bottom-sm inner-left inner-right onecontact">
                    <figure class="member">

                        <div class="">
                            <a><img src="~/assets/images/placeholder-100px.svg" class="rounded-circle"></a>
                        </div><!-- /.icon-overlay -->

                        <figcaption>

                            <h2>
                                Petra Günzel
                                <span>2. Vorstandsvorsitzende<br />Trainerin Nachwuchs<br />Mannschaftsführerin Schüler II</span>
                            </h2>
                            <ul class="contacts">
                                <li><i class="icon-location contact"></i> 98574 Schmalkalden, Deutschland</li>
                                <li><i class="icon-phone contact"></i> +49 368 346 696 0</li>
                                <li><a href="mailto:petra_guenzel@web.de"><i class="icon-mail-1 contact"></i> petra_guenzel@web.de</a></li>
                            </ul><!-- /.contacts -->
                        </figcaption>

                    </figure>
                </div><!-- /.col -->

                <div class="col-md-4 inner-bottom-sm inner-left inner-right onecontact">
                    <figure class="member">

                        <div class="">
                            <a><img src="~/assets/images/placeholder-100px.svg" class="rounded-circle"></a>
                        </div><!-- /.icon-overlay -->

                        <figcaption>

                            <h2>
                                Uwe Damm
                                <span>Jugendwart<br />Trainer Nachwuchs<br />Mannschaftsführer Schüler I</span>
                            </h2>

                            <ul class="contacts">
                                <li><i class="icon-location contact"></i> 98574 Schmalkalden, Deutschland</li>
                                <li><i class="icon-mobile contact"></i> +49 152 338 204 40</li>
                                <li><a href="mailto:uda66@web.de"><i class="icon-mail-1 contact"></i> uda66@web.de</a></li>
                            </ul><!-- /.contacts -->

                        </figcaption>

                    </figure>
                </div><!-- /.col -->

                <div class="col-md-4 inner-bottom-sm inner-left inner-right onecontact">
                    <figure class="member">

                        <div class="">
                            <a><img src="~/assets/images/placeholder-100px.svg" class="rounded-circle"></a>
                        </div><!-- /.icon-overlay -->

                        <figcaption>

                            <h2>
                                Klaus Vierling
                                <span>Seniorenwart<br />Beauftragter für Vereinsangelegenheiten<br />Mannschaftsführer Herren II</span>
                            </h2>

                            <ul class="contacts">
                                <li><i class="icon-location contact"></i> Pfaffenbach 43c, 98574 Schmalkalden, Deutschland</li>
                                <li><i class="icon-mobile contact"></i> +49 160 557 027 5</li>
                                <li><i class="icon-phone contact"></i> 03683 600960</li>
                                <li><a href="mailto:kvierling@web.d"><i class="icon-mail-1 contact"></i> kvierling@web.de</a></li>
                            </ul><!-- /.contacts -->

                        </figcaption>

                    </figure>
                </div><!-- /.col -->

                <div class="col-md-4 inner-bottom-sm inner-left inner-right onecontact">
                    <figure class="member">

                        <div class="">
                            <a><img src="~/assets/images/placeholder-100px.svg" class="rounded-circle"></a>
                        </div><!-- /.icon-overlay -->

                        <figcaption>

                            <h2>
                                Hartmut Röver
                                <span>Kassenwart<br />Vereinsausrüster<br />Mannschaftsführer Herren I</span>
                            </h2>

                            <ul class="contacts">
                                <li>
                                    <i class="icon-location contact"></i> Eichenrain 18, 98574 Schmalkalden, Deutschland
                                </li>
                                <li><i class="icon-mobile contact"></i> +49 152 053 726 47</li>
                                <li><i class="icon-basket-1 contact"></i> +49 368 364 668 1 (geschäft)</li>
                                <li><a href="mailto:tt.roever@gmx.de"><i class="icon-mail-1 contact"></i> tt.roever@gmx.de</a></li>
                            </ul><!-- /.contacts -->

                        </figcaption>

                    </figure>
                </div><!-- /.col -->

            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>



    <!-- ============================================================= SECTION – HERO : END ============================================================= -->

    <div class="container inner-sm">
        <div class="row">

            <div class="col-lg-8 inner-right">

                <!-- ============================================================= SECTION – CONTACT FORM ============================================================= -->

                <section id="contact-form">

                    <h2>Kontaktformular</h2>

                    <form id="contactform" class="forms" asp-action="SendEmail" asp-controller="Contact">


                        @Html.ValidationMessageFor(test => test.Email)

                        @Html.ValidationMessageFor(test => test.Subject)

                        @Html.ValidationMessageFor(test => test.Message)

                        <div class="row">
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", placeholder = "Name" })
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                        <div class="row">
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                        <div class="row">
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", placeholder = "Thema" })
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                        <div class="row">
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Message, new { @class = "form-control", placeholder = "Nachricht" })
                            </div><!-- /.col -->
                        </div><!-- /.row -->

                        <button type="submit" class="btn btn-submit">Formular absenden</button>

                    </form>

                    <div id="response"></div>

                </section>

                <!-- ============================================================= SECTION – CONTACT FORM : END ============================================================= -->

            </div><!-- ./col -->

        </div><!-- /.row -->
    </div><!-- /.container -->

    <section id="impressum" class="img-bg img-bg-soft tint-bg" style="background-image: url(../assets/images/art/image-background04.jpg);">
        <div class="container inner">

            <div class="row">
                <div class="col-lg-8 col-md-9">
                    <header>
                        <h1>Impressum</h1>
                    </header>

                </div><!-- /.col -->
                <div class="col-lg-4">
                    <ul class="contacts">
                        <li><i class="icon-location contact"></i> Asbacher Weg 2a, 98574 Schmalkalden, Deutschland</li>
                        <li><i class="icon-mobile contact"></i> +49 157 763 169 75</li>
                        <li><a href="mailto:dominik@weder-it.com"><i class="icon-mail-1 contact"></i> dominik@weder-it.com</a></li>
                    </ul><!-- /.contacts -->
                </div><!-- /.col -->
            </div><!-- /.row -->

        </div><!-- /.container -->
    </section>


</main>
